<p style="color: green; margin: 0"><%= notice %></p>

<header class="header">
  <h1>Pacientes</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "New paciente", new_paciente_path %>
  </div>
</header>

<div id="pacientes" class="div">

    <% @pacientes.each do |paciente| %>
      <div>
      <%= render paciente %>
      <div class="link">
        <%= link_to "Show this paciente", paciente %>
        <img class="img--click" src="../../assets/click.png" />
      </div>
      </div>
    <% end %>
</div>




