<p style="color: green"><%= notice %></p>

<div class="div" style="flex-wrap: wrap">
  <%= render @paciente %>
</div>

<div class="div">

  <div class="link">
  <%= link_to "Volta para pacientes", pacientes_path %>
    <img class="img--click" src="../../assets/click.png" />
  </div>

  <div class="link">
    <%= link_to "Editar paciente", edit_paciente_path(@paciente) %> |
    <img class="img--click" src="../../assets/click.png" />
  </div>

  <div class="link">
    <%= link_to "Página Inicial",root_path %>
    <img class="img--click" src="../../assets/click.png" />
  </div>



  <%= button_to "Deletar paciente", @paciente, method: :delete %>

</div>
