<header class="header">
  <h1>Paciente</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Volta para pacientes", pacientes_path %>
  </div>
</header>
<p style="color: green"><%= notice %></p>

<div class="div" style="flex-wrap: wrap">
  <%= render @paciente %>
</div>

<div class="div">

  <div class="link">
    <%= link_to "Editar paciente", edit_paciente_path(@paciente) %> |
    <img class="img--click" src="../../assets/click.png" />
  </div>

  <%= button_to "Deletar paciente", @paciente, method: :delete %>

</div>
