<p style="color: green; margin: 0"><%= notice %></p>

<header class="header">
  <h1>Consultas</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Nova consulta", new_consultum_path %>
  </div>
</header>

<div id="consulta" class="div">
  <% @consulta.each do |consultum| %>
    <div>
      <%= render consultum %>
      <div class="link">
        <%= link_to "Show this consultum", consultum %>
        <img class="img--click" src="../../assets/click.png" />
      </div>
    </div>
  <% end %>
</div>


