<header class="header">
  <h1>Medicos</h1>
  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Novo médico", new_medico_path %>
  </div>
</header>

<p style="color: green"><%= notice %></p>

<div id="medicos" class="div">
  <% @medicos.each do |medico| %>
    <div>
        <%= render medico %>
        <div class="link">
          <%= link_to "Show this medico", medico %>
          <img class="img--click" src="../../assets/click.png" />
        </div>
    </div>
  <% end %>
</div>


