<header class="header">
  <h1>Medico</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Voltar para médicos", medicos_path %>
  </div>
</header>
<p style="color: green"><%= notice %></p>

<div class="div" style="flex-wrap: wrap">
  <%= render @medico %>
</div>

<div class="div" style="flex-direction: column; gap: 0; margin-top: 20px">
  <strong>--Consultas Marcadas--</strong><br>
  <table>
    <thead>
    <tr border="1">
      <th>Data</th>
      <th>Horario</th>
      <th>Paciente</th>
    </tr>
    </thead>

    <tbody>
    <% @medico.consultums.each do |consultum| %>
      <tr>
        <td><%= consultum.data %></td>
        <td><%= consultum.horario %></td>
        <td><%= consultum.paciente.nome %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="div">
  <div class="link">
    <%= link_to "Edit this medico", edit_medico_path(@medico) %> |
    <img class="img--click" src="../../assets/click.png" />
  </div>

  <%= button_to "Destroy this medico", @medico, method: :delete %>
</div>
